body {
  line-height: 1.5;
  color: white;
	font-family: 'Roboto', serif;

  background: url('../images/yas-background.jpg');
  /* Full Page Background Receipe */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.menu {
	background: rgba(0,0,0,0.5);
	font-size: 25px;
	margin: 0 auto;
}

.container {
  width: 560px;
	margin: 0 auto;
	margin-bottom: 50px;
  background: rgba(0,0,0,0.5);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

h1 {
	font-family: 'Rokkitt', serif;
	font-size: 80px;
	margin-bottom: -50px;
}

h2 {
	font-size: 30px;
}

a {
	color: #BFE35B;
	text-decoration: none;
}

iframe {
	margin-bottom: 20px;
}

li
{
display:inline;
margin-right: 20px;
}